* {
    box-sizing: border-box;
}
/*
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  } */

  #myForm {
    display: none;
    width: 75%;
    margin: auto;
    text-align: center;
  }
    #myForm h3 {
      margin-top: 18px;
      margin-bottom: 15px;
    }

  form {
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container2 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 2px solid orange;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 60%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: auto;
  }
  
 label {
    margin-bottom: 15px;
    margin-top: 10px;
    display: block;
    text-align: center;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btns {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    border: none;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    margin: auto;
    text-align: center;
  }
  
  .btns:hover {
    background-color: #039660;
  }
  .btns.cancel {
    background-color: rgb(231, 1, 1);
    text-align: center;
    margin-top: 12px;
  }
    .btns.cancel:hover {
      background-color: rgb(211, 0, 0);
    }
  
  span.price {
    float: right;
    color: grey;
  }

  .custom-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

select {
  background-color: rgb(246, 246, 247);
  color: rgb(56, 56, 56);
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid orange;
  height: 6vh;
}

#register {
  margin-top: 5%;
  margin-bottom: 5%;
}
hr {
  width: 75%;
  margin: auto;
  margin-top: 5%;
}

  @media (max-width: 970px) {

    .col-25 {
      margin-bottom: 20px;
    }

    input[type=text] {
      width: 95%;
    }
  }