/* universal */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}
.centered {
  text-align: center;   
}
.padded   {
    padding: 5%;
  }
  h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 0.8rem;
    }

    h2  { font-size: 2.2rem;  }
    h3  { font-size: 1.8rem;  }
    h4  { font-size: 1.4rem;  }
    p   { font-size: 1rem;  }

  p {
   margin-bottom: 0.8rem;
  }
  .button-solid, .btn-solid {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #e67e22;
    border-color: #e67e22;
  }

  .button-solid:hover, .btn-solid:hover {
    background-color: #fd9335;
    border-color: #fd9335;
    color: white;
  }
  .button.inverted, .btn {   /* this is for a button on a dark background */
    border: 2px solid white;
    color: white;
    padding: 3px 8px 3px 8px;
  }

  .button.inverted:hover, .btn {
    color: #eeeeee;
    border-color: #eeeeee;
  }

body {
    background-color: #142b19;/*rgb(7, 87, 87);*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
  }

  section {
      position: absolute;
      right: 0;
      width: 85vw;
  }

  .mobile {
    display: none;
  }

/* header classes and elements */

header {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(245, 245, 245);
    margin: 2% 10% 2% 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
header h1 {
    font-size: 36px;
}

.banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.big-bold {
  font-size: 2.5rem;
  font-weight: 700;
}

.highlight {
  background-color: rgba(44, 44, 61, 0.692);
  display: inline-block;
  padding: 0.5rem;
  margin: 2px;
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width:15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(3, 3, 3);
    overflow-x: hidden;
    padding-top: 35px;
    padding-bottom: 25px;
    /*border-right: 1px solid rgb(68, 71, 69);*/
    /*padding-left: 15px;*/
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    text-align: center;
  } 
    .sidebar a:hover {
        color: #f1f1f1;
    }

    .sidenav, .dropbtn {
      display: none;
    }
  
  .row {
      flex-direction: row;
  }
  .row-reverse {
      flex-direction: row-reverse;
  }
  .space {
      justify-content: space-around;
      align-items: center;
  }
  .boxShadow {
    box-shadow: 1px 1px 8px 15px rgba(31, 31, 31, 0.377);
  }
  .overlay {
    background-color: rgba(26, 26, 26, 0.541);
    /*background-color: rgba(26, 26, 26, 0.39);*/
  }
  .overlay2 {
    background-color: rgba(26, 26, 26, 0.377);
    margin: 1% 2%;
    padding: 2% 5%;
    border-radius: 10px;
  }
  .layout {
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .layout h2, .layout h3 {
    justify-content: center;
      align-items: center;
      color: rgb(235, 235, 235);
      text-align: center;
      font-size: 28px;
  }
  .layout h3 {
    font-size: 24px;
  }
  .layout p {
      justify-content: center;
      align-items: center;
      color: rgb(235,235,235);
      text-align: center;
      line-height: 1.5em;
      padding: 3% 10% 0 10%;
      font-size: 18px;
  }

  .layout-cta {
    justify-content: center;
      align-items: center;
      color: rgb(235,235,235);
      text-align: center;
      line-height: 1.5em;
      padding: 0 10% 3% 10%;
      font-size: 20px;
  }

  .layout-2 {
    margin: 2%;
    padding: 2%;
  }

  .layout-2 img {
      width: auto;
      height: 450px;
      justify-self: center;
      align-self: center;
      margin: 5%;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 10px rgba(49, 49, 49, 0.404);
  }

  .layout-2 h2 {
      justify-content: center;
      align-items: center;
      color: rgb(235, 235, 235);
      padding: 5% 15% 2% 15%;
      text-align: center;
      text-transform: capitalize;
  }
  
  .layout-2 ul {
    margin: auto;
    color: rgb(235, 235, 235);
    padding-left: 13%;
    padding-right: 5%;
  }

  .layout-2 p {
      justify-content: center;
      align-items: center;
      color: rgb(235,235,235);
      text-align: left;
      line-height: 1.5em;
      padding-left:10%;
      padding-right: 10%;
      padding-top: 1%;
      padding-bottom: 1%;
  }
  .layout-2 .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    margin: auto;
    cursor: pointer;
  }

  .form {
    background-color: rgb(236, 236, 236);
    color: #2b2b2b;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  input, textarea {
    border: 2px solid rgb(200, 200, 205);
    padding: 0.8em;
    display: block;
    width: 100%;
    font-size: 1rem;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #e67e22;
  }
  
  textarea {
    min-height: 7em;
  }
  
  form a {
    width: auto;
  }
  
  
  form [class*=col-] {
    padding: 5px;
  }
  
  .email-signup input, .button-solid {
    width: 30%;
    display: inline-block;
    max-width: 250px;
    margin-top:1rem;
  }
  
  .email-signup .button-solid {
    padding: 0.8em;
    border-radius: 0;
    font-size: 1rem;
  }
  .contact .btn-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    font-size: 1rem;
  }

  .contact {
    color: #d3d3d3;
  }

  .half {
    width: 50%;
  }

  .footer {
    color: rgb(245, 245, 245);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid rgb(245, 245, 245);
    margin: 2% 10% 2% 10%;
    padding-top: 2%;
  }
  a {
    color: inherit;
  }
    a:hover {
      color: rgb(209, 209, 209);
    }

    .inline a {
      display:inline-block;
      padding: 0.5rem;
    }

  .left {
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }

  .right {
    margin-left: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: right;
  }

  .profile-small {
    margin-bottom: 2%;
    max-width: 6rem;
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  }

    /* HEADER ANIMATION */
    .banner {
      position:relative;
      overflow:hidden;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      height:100vh;
      min-height:400px;
      max-height:500px;
      min-width:300px;
      color: #4d4b4b;
    }
  
    .banner:after{
      content:"";
      width:100%;
      height:100%;
      position:absolute;
      bottom:0;
      left:0;
      z-index:-1;
     background: linear-gradient(to bottom, rgba(196, 196, 196, 0) 30%,rgb(27, 32, 48) 100%);
    }
    .banner:before{
      content:"";
      width:100%;
      height:200%;
      position:absolute;
      top:0;
      left:0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0); backface-visibility: hidden;
      scale:(1.0, 1.0);
        transform: translateZ(0);
      background: url(/images/patrick-fore-unsplash.jpg) 50% 0 no-repeat;
      /*background-size:100%;*/
      background-attachment:fixed;
      background-position: bottom;
      animation: grow 360s  linear 1ms infinite;
      transition:all .1ms ease-in-out;
      z-index:-2
    }
  
  
  @keyframes grow{
      0% { transform: scale(1) translateY(0px)}
      20% { transform: scale(1.2) translateY(-100px)}
    }

    /* SCROLL ANIMATION */
    .aos {
      position: relative;
      top: 50px;
      opacity: 0;
      transition: 1s ease-out; 
  }
  
  .aos.active {
      top: 10px;
      opacity: 1;
      background-color: transparent;
      transform: translateY(-20px);
      transition: .8s ease-in;
  }

  /* ------ media queries -------- */

@media (min-width: 1800px) {
  .sidebar {
    padding-top: 50px;
  }
  .sidebar a {
    font-size: 22px;
    padding: 20px;
  }
  
  header h1 {
    font-size: 40px;
    padding-bottom: 1.5%;
  }
  header h2 {
    font-size: 32px;
    padding-bottom: .5%;
  }

  .layout-2 img {
    width: 20vw;
    height: auto;
  }
  .layout-2 h2 {
    font-size: 30px;
  }
  .layout-2 p {
    font-size: 20px;
  }
  .footer p {
    font-size: 20px;
  }
   
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  @media (max-width: 970px) {

    /* HEADER ANIMATION */

    .btn {
      background-color: rgba(44, 44, 61, 0.521);
    }

    .banner {
      background: url(/images/patrick-fore-unsplash.jpg) 80% 0 no-repeat;
      background-position: bottom;
      max-height: auto;
    }
      
  .slideUp {
      animation: slideUp970 2.5s forwards;
  }
  @keyframes slideUp970 {
    0%    { transform: translate3d(0,970px,0); }
    100%  { transform: translate3d(0,0,0); }
}

    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }

    .half {
      width: 80%;
    }
    .contact {
      justify-content: center;
      align-items: center;
    }
    .row {
      flex-direction: column;
    }
    .row-reverse {
      flex-direction: column;
    }
    
    .layout-2 img {
      width: auto;
      height: 60vh;
    }
    .layout-2 {
      margin-top: 3%;
      margin-left: 0;
      margin-bottom: 1%;
      margin-right: 0;
      padding: 1%;
    }
    .layout-2 p {
      text-align: center;
    }
    footer {
      margin-top: 2%;
      margin-bottom: 2%;
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .footer { 
      padding-top: 5%;
      padding-bottom: 5%;
    }

  }

  @media (max-width: 500px) {
    section {
      width: 100%;
      position: relative;
    }

    .sidebar {
      display: none;
    }
    html {
      margin: 0;
    }

    .header {
      margin: 0;
      background-color: #1a1a20;
      color: #e2e2e2;
      text-align: left;
    }
    .header i {
      padding: 10px 5px 5px 10px;
    }

    .layout-2 {
      margin: 0;
    }
   

    .overlay {
      margin: 0;
      width: 100%;
      height: 100%;
    }

    .overlay2 {
      margin: 0;
    }

      .email-signup input {
        width: 80%;
        max-width: 80%;
      }
      form .button-solid {
        border: none;
        width: 100%;
      }
      .form {
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 4%;
        padding-bottom: 4%;
      }
      .form p {
        padding-left: 8px;
        padding-right: 8px;
      }

      .contact {
        text-align: center;
      }
      .contact form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /* Banner ANIMATION */
        
    .slideUp {
        animation: slideUp500 2.5s forwards;
    }
    @keyframes slideUp500 {
      0%    { transform: translate3d(0,500px,0); }
      100%  { transform: translate3d(0,0,0); }
  }


    /* mobile menu */

/* The side navigation menu */
.sidenav {
  display: inline-block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
  top: 0;
  right: 0;
  background-color: #070707d2;
  cursor: pointer;
  text-align: center;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.dropbtn {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 2%;
  font-size: 36px;
  line-height: 1.5em;
  display: inline-block;
  padding: 2%;
  background: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  border: none;
  rotate: 90deg;
}

/* The navigation menu links */
.sidenav a {
  padding: 0 0 6% 0;
  text-decoration: none;
  font-size: 24px;
  color: #e2e2e2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #d3d3d3;
}

}